/*Reset do CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border-radius: 2.6px;
    font-family: oblique;
}

header {
    background-color: rgb(229, 173, 185);
    color: azure;
    padding: 40px;
    text-align: center;
}
main {
    background-color: rgb(236, 236, 236);
    flex: 1;
    padding: 48px 38px;
    width: 100%;
}

about-section {
    display: block;
    background-color: rgb(240, 214, 219);
    width: 80%;
    margin: 0 auto;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 60px;
}

#titulo-sobre-mim {
    font-size: 20px;
    border-bottom: 2px solid rgb(219, 157, 170);
    margin-bottom: 20px;

}
.texto-sobre-mim{
    font-size: 20px;
    
}

hobbies {
    display: block;
    background-color: rgb(240, 214, 219);
    width: 80%;
    margin: 0 auto;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 60px;
}

#titulo-hobbies {
    border-bottom: 2px solid rgb(219, 157, 170);
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 12px;
}

li {
    background-color: rgb(241, 227, 229);
    padding: 12px;
    border-left: 4px solid rgb(219, 157, 170);
    font-size: 16px;
    min-width: 150px;
} 
li:hover{
    background-color: rgb(221, 189, 194);
    transform: translateX(5px);
    transition: all 0.3s ease;
}
contact {
    display: block;
    background-color: rgb(240, 214, 219);
    width: 80%;
    margin: 0 auto;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 60px;
}
contact h2 {
    margin-bottom: 8px;
    font-size: 20px;
    text-align: center;
}

contact p {
    text-align: center;
    font-size: 19px;
}

contact a {
    color:rgb(192, 136, 148);
    text-decoration: none;
    font-weight: bold;
    padding: 0.2rem 1rem;
    margin: 0 0.2rem;
    border: 2px solid rgb(192, 136, 148);
    border-radius: 20px;
    display: incline-block;
}

contact a:hover {
    background-color: rgb(221, 189, 194);
    color:aliceblue;
    transform: translateY(-2px);
}